*, *::before, *::after {
    box-sizing: border-box;
}

html {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
    width: 100%;
}

body {
    background-color: #0087d0;
    margin: auto;
    min-height: 80%;
    width: 100%;
    max-width: 414px;
    padding: 0;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px 5px 5px 5px;
}

#edit-mode-link {
    display: none;
    align-items: center;
    cursor: pointer;
}

#app-title {
    margin: 0;
    padding: 0;
}

#add-new-link {
    display: none;
    font-size: 1.65em;
    cursor: pointer;
}

a:link {
    color: black;
}

a:visited {
    color: #ddd;
}

a:hover {
    color: white;
}

a:active {
    color: aliceblue;
}

/* User pages */
#login-page {
    display: block;
}

#registration-page {
    display: none;
}

#edit-user-page {
    display: none;
}

#settings-page {
    display: none;
}

#login-page form,
#registration-page form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 10%;
}

#login-page form input,
#registration-page form input,
#reg-theme {
    display: block;
    margin: 10px;
    width: 75%;
    height: 50px;
    padding: 5px;
    font-size: 1.25em;
}

#login-page form button,
#registration-page form button {
    display: block;
    margin: 10px;
    width: 75%;
    height: 50px;
    transition: 500ms;
    font-size: 1.25em;
    cursor: pointer;
}

#login-page form button:focus,
#registration-page form button:focus {
    outline: none;
}

#login-page form button:hover,
#registration-page form button:hover {
    background-color: #0087d0;
    border: 2px solid white;
    color: white;
}

#notice, #message {
    width: 75%;
    margin: 15px auto -25px auto;
}
/* End user pages */

/* Timer pages */
#dashboard-page {
    display: none;
    margin-top: 10px;
}

#create-timer-page {
    display: none;
}

#edit-timer-page {
    display: none;
}

#delete-timer-page {
    display: none;
}
/* End timer pages */

#timer-list {
    text-align: center;
}

.timer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(255,255,255,0.3);
    width: 100%;
    height: 100px;
    padding: 5px 5px 5px 15px;
    background-color: rgba(255,255,255,0.1);
}

.timer-labels {
    display: flex;
    flex-flow: column nowrap;
}

.label {
    font-size: 1.5em;
}

.time {
    font-size: 2em;
}

button {
    background-color: white;
    color: #0087d0;
    border: none;
    padding: 5px 15px;
    margin: 15px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    transition: .5s;
}

.start-button,
.paused-buttons button {
    font-size: 1em;
}

.start-button:hover {
    border: 1px solid white;
    background-color: #0087d0;
    color: white;
}

.active-timer {
    background-color: white;
    color: black;
}

.paused-buttons {
    display: none;
}

.paused-buttons button {
    background-color: #0087d0;
    color: white;
}

.delete-button {
    display: none;
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    transition: .5s;
    margin-right: -100px;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    padding-bottom: 7px;
    cursor: pointer;
}

@media (min-width: 737px) {
    #login-page form input,
    #registration-page form input,
    #login-page form button,
    #registration-page form button,
    #reg-theme {
        height: 40px;
    }

    .timer {
        border-bottom: 1px solid #ccc;
        height: 75px;
    }

    .label {
        font-size: 1.25em;
    }

    .time {
        font-size: 1.5em;
    }
}